body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.nav {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px; 
    background-color: #E0E0E0;
    box-shadow: 0 2px 5px rgba(211, 215, 219, 0.5);
}
html{
    scroll-behavior: smooth;
}

.logo .circle {
    width: 40px; 
    height: 40px; 
    background-color: gray;
    border-radius: 50%; 
}

ul {
    display: flex; 
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0 15px; 
    padding: 10px 10px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
a{
    text-decoration: none;
    color: #333333;
}
ul li:hover {
    color: #FFFFFF;
    background-color: #0056B3;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(97, 170, 247, 0.5);
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    align-items: center;
    gap: 20px;
}

.about-text {
    flex: 1;
    min-width: 300px;
}

.about-text h2 {
    font-family: 'Roboto', sans-serif; 
    text-align: left;
    font-size: 28px;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
}

.about-image {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.get-started {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #0056B3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: flex-start;
}
.get-started:hover {
    background-color:#A6C8E0
}
h2{
    text-align: center;
}
.services {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background-color: #f9f9f9; 
}

.services-cont {
    border: 1px solid #E0E0E0;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.title {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}
.content {
    font-size: 16px;
}
.services-cont:hover{
    background-color: #FFB84D; 
    color: #333333;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.Contact{
    background-color: #E0E0E0;
}
.Contact h2{
    color:#333333;
    margin: 0;
    padding: 0;
}
.contact-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap:10px;
    padding: 40px;
}
.contact-info i{
    font-size: 20px;
    color:black
}
.contact-info span{
    font-family: 'Open Sans', sans-serif;
    color:black;
}
.contact-info span:hover{
    color: #0056B3;
    cursor: pointer;
}
.contact-info i:hover{
    color: #0056B3;
}
.applicant-section {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.apply-link {
    color: #007bff;
    text-decoration: none;
}

.apply-link:hover {
    text-decoration: underline;
    color: #0056b3;
}
